# Python
env/
__pycache__/
*.py[cod]

# Environment variables
.env
backend/.env

# Django
*.log
staticfiles/
media/

# React / Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# ML models - later
*.pkl
*.joblibdb.sqlite3
env/
env/
